<header><h1>Logo</h1></header>
	<nav>
		<ul>
			<p class="sub-title"><a href="index.html">Anasayfa</a></p>
			<p class="sub-title"><a href="about.html">Hakkında</a></p>
			<p class="sub-title"><a href="contact.html">İletişim</a></p>
		</ul>
	</nav>
	<div class="clear"></div>