<div id="content-container">
	<div id="content">
		<% @posts.each do |p| %>
		<h1><%=link_to p.title, post_path(p)%></h1>
		<p><%= p.created_at.strftime("%d/%m/%Y"+" "+"%_H:%M") %></p>
		<p><%= p.content.first(400) %><span>  .....</span>
		<%=link_to "Read More", post_path(p)%>
		</p><br>
		
		<% end %>
	</div>
</div+>